<!DOCTYPE html>
<html>
<head>
    <title>E-commerce - Cliente</title>
    <script>
        function getAuthToken() {
            return localStorage.getItem('token');
        }

        function handleLogout() {
            localStorage.removeItem('token');
            window.location.href = '/login';
        }

        function checkToken() {
            const token = getAuthToken();
            if (!token) {
                window.location.href = '/login';
            }
        }
        // Executa a verificação do token ao carregar a página
        checkToken();
    </script>
</head>
<body>
    <h1>Bem-vindo ao E-commerce!</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flash">
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    <ul>
        <li><a href="/create_order">Criar Pedido</a></li>
        <li><a href="/notifications">Notificações</a></li>
        <li><a href="/users">Usuários</a></li>
        <li><a href="#" onclick="handleLogout()">Logout</a></li>
    </ul>
</body>
</html>